---
import { Image } from "astro:assets";
import footerLogo from "../images/footer-logo.png";
import instagram from "../images/instagram.png";
---

<footer>
  <div class="logo">
    <a href="/">
      <Image src={footerLogo} alt="logo" />
    </a>
  </div>
  <div class="body">
    <p class="corporate">
      <a href="" target="_blank">運営／株式会社テイクアンドギヴ・ニーズ</a>
    </p>
    <p class="instagram">
      <a href="https://instagram.com" target="_blank"
        ><Image src={instagram} alt="Instagram" /></a
      >
    </p>
    <p class="privacy-policy">
      <a href="" target="_blank">プライバシーポリシー</a>
    </p>

    <p class="copyright">
      COPYRIGHT&copy;TAKE AND GIVENEEDS CO.,LTD. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>

<style>
  footer {
    text-align: center;
    background-color: #a37078;
    color: #fff;
    margin: 0 auto;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    color: #fff;
  }

  .logo {
  }

  .body {
    padding-top: 5px;
    padding-bottom: 14px;
  }

  .corporate {
    font-size: 15px;
  }

  .instagram {
    margin-top: 10px;
  }

  .privacy-policy {
    font-size: 11px;
    margin-top: 10px;
  }

  .copyright {
    font-size: 9px;
    margin-top: 10px;
  }
</style>
