---

---

<div class="sidenav-left">SideNav Left</div>
<style>
  .sidenav-left {
    display: none;
    font-family: "Cormorant Infant", sans-serif;
  }

  @media (min-width: 769px) {
    .sidenav-left {
      display: block;
      flex-grow: 1;
    }
  }
</style>
