---

---

<div class="sidenav-right">SideNav Right</div>
<style>
  .sidenav-right {
    display: none;
  }

  @media (min-width: 769px) {
    .sidenav-right {
      display: block;
      flex-grow: 1;
    }
  }
</style>
